In [31]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
import pandas as pd

In [2]:
# Create path to splinter!
!which chromedriver

'which' is not recognized as an internal or external command,
operable program or batch file.

In [3]:
executable_path = {'executable_path':'c:/Users/Kayla/Anaconda5/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [5]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [6]:
# Define database and collection
db = client.nasa_db
collection = db.articles

In [8]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/'

# Retrieve page with the requests module
browser.visit(url)
response = browser.html
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response, 'html.parser')

In [9]:
# NASA MARS NEWS

In [10]:
#title
title = soup.find('div', class_='content_title').text
title

'InSight Captures Sunrise and Sunset on Mars'

In [12]:
# paragraph
paragraph = soup.find('div', class_="article_teaser_body").text
print(paragraph)

InSight joins the rest of NASA's Red Planet surface missions, all of which have photographed either the start or end of a Martian day.

In [33]:
#JPL MARS SPACE IMAGES

In [15]:
url_image = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [16]:
browser.visit(url_image)
full_image_button = browser.find_by_id("full_image")
full_image_button.click()

In [17]:
more_info_button = browser.find_link_by_partial_text("more info")
more_info_button.click()

In [20]:
response_2 = browser.html
# Create BeautifulSoup object; parse with 'lxml'
soup_2 = BeautifulSoup(response_2, 'html.parser')

In [21]:
image = soup_2.find('figure', class_="lede").find("img")["src"]
print(image)

/spaceimages/images/largesize/PIA18432_hires.jpg

In [22]:
# https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18432_hires.jpg

full_image = "https://www.jpl.nasa.gov" + image
print(full_image)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18432_hires.jpg

In [25]:
# MARS WEATHER
url_3 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url_3)
response_3 = browser.html
soup_3 = BeautifulSoup(response_3, 'html.parser')

In [27]:
mars_weather = soup_3.find('div', class_='js-tweet-text-container').p.text
mars_weather

'InSight sol 152 (2019-05-01) low -98.1ºC (-144.5ºF) high -17.2ºC (1.0ºF)\nwinds from the SW at 4.8 m/s (10.7 mph) gusting to 13.2 m/s (29.5 mph)\npressure at 7.40 hPapic.twitter.com/zJGo11uNF1'

In [ ]:
# MARS FACTS

In [53]:
url_4 = 'https://space-facts.com/mars/'

In [44]:
facts = pd.read_html(url_4)[0]
facts

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [46]:
facts_string = facts.to_html()
facts_string

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [50]:
executable_path = {'executable_path': 'chromedriver'}
browser = Browser('chrome', **executable_path, headless=True)
url_5 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url_5)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [51]:
hemispheres = soup.select('div.item')

In [52]:
hemisphere_image_urls = []

for h in hemispheres:
    title = (h.find('h3').text).replace(' Enhanced', '')
        
    #click the hemisphere
    browser.click_link_by_partial_text(title)
    
    #make new soup of that page
    soup = BeautifulSoup(browser.html, 'html.parser')
    
    #find the full image
    full = soup.find('a', text='Sample')
    
    #get the img url
    img_url = full['href']
    
    #make a dict and append to the list
    hemisphere_image_urls.append({'title': title, 'img_url': img_url})
    
    #go back 
    browser.back()

#close browser
browser.quit()    

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]